body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Inter', sans-serif;
  background-color: #f4f4f4;
}

.ql-toolbar {
  border-radius: 8px 8px 0 0;
  background-color: #f1f3f4;
}

.ql-container {
  min-height: 75vh;
  border-radius: 0 0 8px 8px;
}